body{
    background-color: #F1ECC3;
}

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

.main-header{
    font-family: 'Charm', cursive;
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 30px;
    
}

.blue{
    color: #DB6B97;
}

.grey{
    color: #7b7b7b;
}

.font-bigger{
    font-size: 2rem;
}
.second-header{
    font-family: 'Charm', cursive;
    font-size: 2.4rem;
    font-weight: 400;
}

div {
}

h1 {
    margin-top: 0px;

}

p {
    margin-top: 0px;
    color: #7b7b7b;
    font-family: 'Shadows Into Light', cursive;
    text-transform: uppercase;
}
